services:
  project-db:
    image: pgvector/pgvector:pg16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: guidebook
      POSTGRES_DB: guidebook
    volumes:
      - lms-db-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 10

  redis:
    image: redis:8.0-M02-alpine3.20
    restart: always
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 3s
      retries: 10
    volumes:
      - lms-redis-data:/data
  mailhog:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "9100:9000" # MinIO API
      - "9101:9001" # Web console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

  create-minio-bucket:
    image: quay.io/minio/mc:latest
    container_name: minio-setup
    depends_on:
      minio:
        condition: service_healthy
    restart: "no"
    env_file: ./apps/api/.env
    volumes:
      - ./create-minio-bucket.sh:/create-minio-bucket.sh
    entrypoint: ["/bin/sh", "/create-minio-bucket.sh"]

volumes:
  lms-db-data:
    driver: local
  lms-redis-data:
    driver: local
  minio-data:
    driver: local